footer
  .link
    a(href='https://www.facebook.com/hsnu1365/') Facebook
    a(href='https://www.flickr.com/photos/hsnu1365/') Flickr
    a(href='hsnu1365@gmail.com') Gmail
    a(href='https://github.com/HSNU1365') GitHub
  .copyright
    p 2016- Copyright by #[a(href='/about/') HSNU1365]
