html
  head
    meta(charset='UTF-8')
    title #{title} - 師大附中1365
    link(href='/res/css/base.css', rel='stylesheet')
  body
    include header.jade
    include nav.jade

    block main_content

    include footer.jade
